<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/CSS/style.css">
</head>
<body>
    <div class="login-form">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="text" name="password" id="password">
        <input type="button" value="Login">
    </div>
    <script src="/JS/jquery.js"></script>
    <script src="/JS/login.js"></script>
</body>
</html>